/* DOT NOTATION HELP US TO SELECT THE ELEMENT AND APPLY STYLE WITH HELP OF CLASS  */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: black;
}

#circle-1 {
  background: yellow;
}

#circle-2 {
  background: pink !important;
}

.rectangle {
  width: 100px;
  height: 100px;
  background: yellowgreen;
  padding: 20px;
}

.row {
  display: inline-block;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
